#################
## Maven
#################
target/

#################
## Emacs
#################
*~

#################
## IntelliJ
#################
.idea
*.iml

#################
## Eclipse
#################

*.pydevproject
.project
.metadata

############
## Mac
############

.DS_Store
